.main{
    text-align: center;
    input{
        padding: 5px;
        width: 300px;
    }
    button{
        padding: 5px;
        cursor: pointer;
    }
}

.weatherInfomain{
    text-align: -webkit-center;
}
.weatherInfo{
    line-height: 2;
    width: 200px;
    text-align: left;
}
